@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}   

body {
    display: grid;
    grid-template-rows: auto auto;
}

/* Navbar */
.header {
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
    z-index: 9999;
}

.name {
    color: rgb(40, 140, 200);
    user-select: none;
    font-size: 40px;
}

/* .kleyr-logo {
    width: 100%;
    height: auto;
    max-width: 100px;
} */

.navbar a {
    position: relative;
    color: rgb(36, 36, 36);
    text-decoration: none;
    font-size: 20px;
    margin-left: 2rem;
    transition: 500ms;
    z-index: 100;
}

.navbar a:hover {
    color: rgba(40, 140, 200);
}

.navbar a::after {
    content: "";
    position: absolute;
    background-color: rgb(40, 140, 200);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar a:hover::after {
    width: 100%;
}

.icons {
    font-size: 40px;
    color: rgb(36, 36, 36);
    cursor: pointer;
    display: none;
    right: 0;
    margin-left: auto;
}

#check {
    display: none;
}

/* NAVBAR FIXED WHEN SCROLL */
.navbarstick {
    position: relative;
}

.navbarstick.navbarsticked {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(36, 36, 36, 0.5);
    transition: top 0.3s;
}

/* NAVBAR BACKGROUND OVERLAY */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 5000;
}

#check:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
}

/* Intro */

.introcont {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    margin-top: 20vh;
    margin-bottom: 10rem;
}

.gridContainer {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.introduction {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: auto;
    flex-direction: column;
}   

.intro {
    position: relative;
    margin-top: 50px;
    user-select: none;
}

.introImgContainer {
    justify-content: center;
    align-items: center;
    display: flex;
}

.introImg {
    width: 30rem;
    object-fit: contain;
}

.intro h1 {
    font-size: 40px;
}

.allbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.iconlinks {
    font-size: 40px;
}

.iconlinks a {
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}

.iconlinks a:hover {
    color: rgb(40, 140, 200);
}


.introbtn {
    border: 2px solid rgb(36, 36, 36);
    color: rgb(36, 36, 36);
    text-decoration: none;
    background-color: transparent;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s ease;
}


.introbtn:hover {
    box-shadow: inset 400px 0 rgb(40, 140, 200);
    border: 2px solid rgb(40, 140, 200);
    color: rgb(240, 240, 240);
    cursor: pointer;
} 

.spanname {
    color: rgb(40, 140, 200);
}

.introdesc {
    font-size: 25px;
    width: 50rem;
    margin: auto;
    position: relative;
    padding-bottom: 50px;
    justify-content: center;
    text-align: center;
}

/* ABOUT */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.aboutIntro, .techstackCont {
    margin: 0em 5em;
}

.aboutdesc h1 {
    color: rgb(40, 140, 200);
    font-size: 60px;
    margin-bottom: 20px;
    user-select: none;
}

.aboutdesc p {
    text-align: left;
    font-size: 20px;
    width: 65%;
    line-height: 1.5;
}

.aboutdetail {
    margin-top: 2rem;
    width: 100%;
}

.aboutdetail td{
    font-size: 20px;
}

.dtlbold {
    font-weight: bold;
    padding: 5px 10px 10px;
}

/* THE GOALS */
.myGoals {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 4rem;
}

.goalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.goalCards {
    background: rgb(40, 140, 200);
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.goalIcons {
    font-size: 6rem;
    color: white;
}

.goalContainer p {
    width: 25rem;
    font-size: 20px;
    text-align: center;
}

/* TECH STACK */

.techstackCont h2 {
    color: rgb(40, 140, 200);
    font-size: 35px;
    user-select: none;
}

.skillsCont {
    display: table-row;
    position: relative;
}

.skillsCont h3{
    user-select: none;
}

.skillsIcon {
    font-size: 50px;
}

.techName {
    display: flex;
}

.techName h3 {
    display: flex;
    text-align: center;
    align-items: center;
}

.otherTechName {
    display: flex;
}

.otherTechName h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    white-space: nowrap;
}

.otherTechName img {
    width: 50px;
    margin-right: 5px;
}

.skillsCard {
    padding: 10px;
    margin: 10px;
}

.skillsOtherCard {
    display: flex;
    flex-wrap: wrap;
}

.skillBar1 {
    background-color: rgb(40, 140, 200);    
    height: 20px;
    width: 200px;
}

.skillBar2 {
    background-color: rgb(40, 140, 200);
    height: 20px;
    width: 50px;
}

.skillBar3 {
    background-color: rgb(40, 140, 200);
    height: 20px;
    width: 0px;
}

.skillBar1::after, .skillBar2::after, .skillBar3::after {
    content: "";
    position: absolute;
    background-color: rgba(36, 36, 36, 0.15);
    height: 20px;
    width: 250px;
}


/* MY WORKS */

.myWorkContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
    z-index: 1;
}

.myWorkContainer .container {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.cardtitle {
    color: rgb(40, 140, 200);
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    user-select: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-cards {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    box-shadow: 2px 2px 4px rgba(36, 36, 36, 0.3);
    color: white;
    margin: 10px;
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
}

.text-cards:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.text-cards .cardTitle {
    color: rgb(240, 240, 240);
    font-size: 35px;
    text-align: center;
    margin-bottom: 5px;
    transition: 0.3s ease;
    user-select: none;
}

.text-cards:hover .cardTitle{
    color: rgb(40, 140, 200);
}

.toHoverButton {
    transform: translateY(65px);
    transition: 0.5s ease;
}

.text-cards:hover .toHoverButton {
    transform: translateY(0px);
    transition: 0.5s ease-out;
}

.cardDescription {
    display: flex;
    flex-direction: column;
    user-select: none;
    margin: 10px 0px;
    gap: 0.2rem;
    text-align: center;
    transform: translateY(20px);
    transition: 0.3s ease;
}

.text-cards:hover .cardDescription {
    transform: translateY(0px);
    transition: 0.3s ease-out;
}

.cardDescription p {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.cardSkillContainer {
    justify-content: center;
    align-items: center;
    display: flex;
}

.cardSkillContainer img{
    width: 45px;
}

.cardDescription .cardSkillIcon {
    font-size: 40px;
}

.imgContainer {
    overflow: hidden;
}

.text-cards .cardsImg {
    width: 100%;
    height: 100%;
    filter: blur(2px);
}

.text-cards:hover .cardsImg {
    filter: none;
    transition: 0.40s ease-in-out;
}

.cardsBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.cardsIconBtn {
    font-size: 25px;
}

.cardsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 2px;
    padding: 0px 10px;
    height: 2em;
    gap: 0.3em;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s ease;
}

.cardsBtn:hover{
    color: rgb(40, 140, 200);
    background: rgb(240, 240, 240);
}

.cardsBtn img {
    width: 35px;
}

/* FOR OTHER WORKS */
.otherWorksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardsHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.design-cards {
    object-fit: fill;
    box-shadow: 2px 2px 4px rgba(36, 36, 36, 0.3);
    color: white;
    margin: 10px;
    padding: 10px;
    height: 600px;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
}

#designCard1 {
    background-image: url('../css/PICS/1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#designCard2 {
    background-image: url('../css/PICS/2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#designCard3 {
    background-image: url('../css/PICS/3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* MY CERTIFICATES */
.myCertificates {
    width: 100%;
    height: auto;
    margin-bottom: 5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myCertificates h1 {
    font-size: 60px;
    color: rgb(40, 140, 200);
    margin: 0 0 20px;
}

.theCertificates {
    width: 600px;
    height: 400px;
}

#item1 {
    background-image: url('../css/PICS/freecodecamp.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Contact */
section .contact{
    font-size: 20px;
    background: rgba(36, 36, 36,0.05);
    box-shadow: 2px 0px 4px rgba(36, 36, 36, 0.3);
    padding: 30px 30px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.contact h1 {
    color: rgb(40, 140, 200);
    font-size: 60px;
    user-select: none;
}

.detailContainer {
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    margin-top: 4rem;
    gap: 5rem;
    width: 100%;
}

.contactContainer h2 {
    color: rgb(40, 140, 200);
    user-select: none;
}

.contactBody {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contactDetail {
    display: flex;
    align-items: center;
  }

.contactIcon {
    font-size: 40px;
    margin-right: 5px;
}

.socialIcon {
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin-right: 5px;
    transition: 0.4s ease;
}

.socialIcon:hover {
    color: rgb(40, 140, 200);
}

.socialContainer {
    display: flex;
    gap: 1rem;
}

/* .contactfrm {
    margin-bottom: 50px;
} */

/* .cont-desc {
    text-align: center;
    margin-bottom: 20px;
    user-select: none;
} */

/* .cont-desc h1{
    color: rgb(40, 140, 200);
    font-size: 40px;
    margin-bottom: 20px;
} */

/* .cont-inputs {
    flex-direction: column;
    display: flex;
}

.inputdetails {
    margin: 10px;
}

.inputdetails p {
    margin-bottom: 5px;
    font-size: 18px;
    user-select: none;
}

.input{
    font-family: 'Times New Roman', Times, serif;
    width: 380px;
    height: 50px;
    border: 2px solid rgb(40, 140, 200);
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.comment {
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.comment textarea {
    resize: none;
    padding: 10px;
}

.submitbtn {
    position: absolute;
    margin: 10px;
    color: rgb(36, 36, 36);
    border: 2px solid rgb(36, 36, 36);
    border-radius: 10px;
    right: 140px;
    padding: 10px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s ease;
}

.submitbtn:hover {
    box-shadow: inset 200px 0 rgb(40, 140, 200);
    border: 2px solid rgb(40, 140, 200);
    color: rgb(240, 240, 240);
    cursor: pointer;
} */

/* Lower Description */
.low-desc {
    background-color: rgba(40, 140, 200, 0.8);
    box-shadow: 2px 0px 4px rgba(36, 36, 36, 0.3);
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    padding: 10px;
    width: 100%;
    height: 40px;
}

.low-desc p {
    color: rgb(240, 240, 240);
}

/* REVEAL CONTENTS WHEN SCROLL */
.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease;
}

.reveal.revealed {
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s ease-out;
}

/* SMALL SCREENS */
@media screen and (max-width: 992px) { 

/* NAVBAR */
    .header {
        padding: 2vh;
    }

    .name {
        color: rgb(40, 140, 200);
        user-select: none;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 35px;
    }    

    .icons {
        display: inline-flex;
        margin-right: 15px;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
        z-index: 9999;
    }

    .navbar {
        box-shadow: 0 2px 4px rgba(36, 36, 36, 0.3);
        padding-right: 10px;
        position: absolute;
        padding-top: 10rem;
        top: -30%;
        right: 0;
        width: 0;
        background: white;
        overflow: hidden;
        transition: .3s ease;
        opacity: 0;
    }

    #check:checked~.navbar {
        opacity: 1;
        width: 60%;
        height: 100rem;
        z-index: 9998;
    }

    .navbar a {
        font-size: 30px;
        display: block;
        text-align: center;
        margin: 2.3rem;
        transform: translateX(400px);
    }

    #check:checked~.navbar a {
        transform: translateX(0);
        opacity: 1;
        transition-delay: calc(0.20s * var(--i));
    }   

    .navbar a::after {
        display: none;
    }
    
    .navbar a:hover::after {
        display: none;
    }

/* INTRO */

    .introcont {
        position: relative;
        flex-wrap: wrap;
        margin-top: 3em;
        gap: 5rem;
    } 

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .introImgContainer {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .introduction { 
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .introImg {
        width: 20em;
    }

    .intro h1 {
        font-size: 40px;
        margin-top: 20px;
    }

    .introdesc {
        font-size: 25px;
        width: auto;
        margin: auto;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .introbtn {

        border-radius: 5px;
        padding: 10px;
        width: 220px;
    }

    .allbtn {
        position: relative;
        display: table-row;
        align-items: center;
        justify-content: center;
    }

    .iconlinks{
        font-size: 50px;
        margin-bottom: 20px;
    }

    .btnlinks a{
        font-size: 15px;
    }

/* ABOUT */

    .about {
        margin-bottom: 0px;
    }

    .aboutIntro, .techstackCont {
        margin: 0em;
    }

    .aboutcont {
        width: 90%;
        text-align: center;
    }

    .about::after {
        display: none;
    }

    .aboutdesc h1 {
        font-size: 40px;
        margin-bottom: 20px;
        user-select: none;
    }
    
    .aboutdesc p {
        font-size: 20px;
        width: 100%;
    }

    .aboutdetail {
        margin-left: 0px;
        margin-top: 100px;
        text-align: left;
        display: flex;
    }

    .aboutdetail td{
        font-size: 20px;
        padding: 5px 10px 10px;
    }

/* THE GOALS */
    .myGoals {
        margin: 5rem 0rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    
    .goalCards {
        width: 8rem;
        height: 8rem;
    }

    .goalIcons {
        font-size: 5rem;
    }

/* TECH STACK */

    .techstackCont h2 {
        font-size: 30px;
    }

/* MY WORKS */
    .myWorkContainer {
        margin-bottom: 0;
    }

    .container {
        margin-top: 10rem;
        margin-bottom: 10rem;
        padding: auto;
        width: 100%;
    }

    .cards
    {
        display: flex;
    }

    .cardtitle {
        font-size: 40px;
    }

/* MY CERTIFICATES */
.myCertificates h1 {
    font-size: 40px;
}

/* CONTACT */

.detailContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.contact h1 {
    font-size: 40px;
}

    /* NAVBAR REVEAL ANIMATION */
    .navbarstick.navbarsticked {
        transition: top 0.2s;
    }
}


@media screen and (max-width: 480px) {

    /* NAVBAR */
    .header {
        padding: 2vh;
        width: 100%;
    }

    .name {
        color: rgb(40, 140, 200);
        user-select: none;
        font-size: 35px;
    }    

    /* FRONT TEXTS */

    .intro {
        position: relative;
    }

    .introcont {
        margin-top: 2em;
        margin-bottom: 10rem;
        gap: 12rem;
    }

    .intro h1 {
        font-size: 30px;
    }

    .introdesc {
        font-size: 25px;
        width: 450px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .introbtn {
        border: 2px solid rgb(36, 36, 36);
        color: rgb(36, 36, 36);
        border-radius: 5px;
        padding: 3px;
        width: 250px;
        position: relative;
        display: flex;
        font-weight: normal;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .allbtn {
        position: relative;
        display: table-row;
        align-items: center;
        justify-content: center;
    }
        
    .iconlinks {
        display: flex;
        justify-content: center;
        font-size: 70px;
        margin-bottom: 20px;
        gap: 0.5em;
    }

    .btnlinks {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.2em;
    }

    .btnlinks a {
        font-size: 25px;
    }

    /* ABOUT */

    .about {
        display: flex;
        flex-direction: column;
    }

    .aboutcont {
        width: 90%;
        text-align: center;
    }

    .aboutdesc h1 {
        font-size: 40px;
        margin-bottom: 20px;
        user-select: none;
    }
    
    .aboutdesc p {
        font-size: 18px;
        width: 100%;
    }
    
    .aboutdetail {
        justify-content: center;
    }
    
    .aboutdetail td{
        font-size: 18px;
        padding: 5px 10px 10px;
    }

    /* TECH STACK */

    .techstackCont {
        margin-top: 100px;
        text-align: left;
        position: relative;
    }

    .skillsCont {
        position: relative;
        margin-right: 50px;
    }

    .skillCard {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .techstackCont h2 {
        text-align: center;
        font-size: 30px;
    }

    /* MY WORKS */
    .container {
        padding: auto;
        width: 100%;
    }

    .cards
    {
        display: flex;
    }

    .cardtitle {
        font-size: 40px;
    }

    /* CONTACT */
    .contact {
        margin: auto;
        width: 100%;
    }

    .contact h1 {
        font-size: 40px;
    }


    /* .input{
        font-family: 'Times New Roman', Times, serif;
        width: 280px;
        height: 50px;
        border: 2px solid rgb(40, 140, 200);
        border-radius: 5px;
        padding: 10px;
        font-size: 15px;
    }

    .cont-desc h1{
        font-size: 35px;
    }

    .comment {
        width: 300px;
    }

    .row-up {
        margin-bottom: 20px;
    }

    .submitbtn {
        position: absolute;
        margin: 10px;
        right: 90px;
        padding: 5px;
        width: 100px;
        font-size: 18px;
    } */
}