* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}   

/* Navbar */
.header {
    background-color: rgba(36, 36, 36, 0.05);
    box-shadow: 0 2px 4px rgba(36, 36, 36, 0.3);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
    z-index: 9999;
}

.name {
    color: rgb(40, 140, 200);
    user-select: none;
    font-size: 40px;
}

.navbar a {
    position: relative;
    color: rgb(36, 36, 36);
    text-decoration: none;
    font-size: 20px;
    margin-left: 2rem;
    transition: 500ms;
}

.navbar a:hover {
    color: rgba(40, 140, 200);
}

.navbar a::after {
    content: "";
    position: absolute;
    background-color: rgb(40, 140, 200);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar a:hover::after {
    width: 100%;
}

.icons {
    font-size: 40px;
    color: rgb(36, 36, 36);
    cursor: pointer;
    display: none;
    right: 0;
    margin-left: auto;
}

#check {
    display: none;
}

/* Intro */

.introcont {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
}

.intro {
    position: relative;
    margin-top: 50px;
    user-select: none;
}

.intro h1 {
    font-size: 70px;
}

/* .img {
    border: 2px solid black;
    border-radius: 300px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);;
    width: 30rem;
    margin-bottom: 50px;
} */

.allbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconlinks {
    font-size: 40px;
}

.iconlinks a {
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}

.iconlinks a:hover {
    color: rgb(40, 140, 200);
}

.btnlinks {
    margin-left: 50px;
}

.introbtn {
    border: 2px solid rgb(36, 36, 36);
    color: rgb(36, 36, 36);
    text-decoration: none;
    background-color: transparent;
    overflow: hidden;
    border-radius: 2px;
    padding: 3px;
    position: relative;
    font-size: 22px;
    margin-right: 10px;
    transition: 0.5s ease;
}


.introbtn:hover {
    box-shadow: inset 200px 0 rgb(40, 140, 200);
    border: 2px solid rgb(40, 140, 200);
    color: rgb(240, 240, 240);
    cursor: pointer;
} 

.spanname {
    color: rgb(40, 140, 200);
}

.introdesc {
    font-size: 25px;
    width: 50rem;
    margin: auto;
    position: relative;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* ABOUT */

.about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45vh;
}

.about::after {
    content: "";
    position: absolute;
    background-color: rgb(36, 36, 36);
    height: 3px;
    width: 20%;
    left: 18vh;
    top: 60px;
    transition: 0.3s;
}

.aboutcont {
    display: grid;
    grid-template-columns: 1.5fr 0fr 0fr; /* Two columns with equal width */
    grid-gap: 10px;
    width: auto;
}

.aboutdetail table{
    width: 500px;
}

.aboutdetail .detail {
    font-weight: bold;
}

.aboutdetail table td{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.aboutdesc h1 {
    font-size: 40px;
    margin-bottom: 50px;
    user-select: none;
}

.aboutdesc p {
    font-size: 20px;
}

.aboutdesc p {
    width: 500px;
}

.aboutdetail p{
    width: 500px;
}

/* TECH STACK */

.techstack {
    margin-top: 35vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.techlng {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
}

.techcont h1 {
    font-size: 40px;
}


/* MY WORKS */

section .bg-color {
    margin-top: 400px;
    margin-bottom: 100px;
    background-color: white;
    z-index: 1;
}

.cardtitle {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    user-select: none;
}

section .cards {
    display: flex;
    justify-content: center;
}

section .cards .text-cards {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
    box-shadow: 2px 2px 4px rgba(36, 36, 36, 0.3);
    color: white;
    margin: 10px;
    padding: 10px;
    width: 350px;
    border-radius: 20px;
}

section .cards .text-cards h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

/* Contact */
section .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 20px;
    background: rgba(36, 36, 36,0.05);
    box-shadow: 2px 0px 4px rgba(36, 36, 36, 0.3);
    padding: 30px 30px;
    height: 700px;  
    width: 100%;
}

.contactfrm {
    margin-bottom: 50px;
}

.cont-desc {
    text-align: center;
    margin-bottom: 20px;
    user-select: none;
}

.cont-desc h1{
    color: rgb(40, 140, 200);
    font-size: 40px;
    margin-bottom: 20px;
}

.cont-container {
    position: relative;
    display: inherit;
    justify-content: center;
    display: flex;
}

.cont-inputs {
    flex-direction: column;
    display: flex;
}

.inputdetails {
    margin: 10px;
}

.inputdetails p {
    margin-bottom: 5px;
    font-size: 18px;
    user-select: none;
}

.input{
    font-family: 'Times New Roman', Times, serif;
    width: 380px;
    height: 50px;
    border: 2px solid rgb(40, 140, 200);
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.comment {
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.comment textarea {
    resize: none;
    padding: 10px;
}

.submitbtn {
    position: absolute;
    margin: 10px;
    color: rgb(36, 36, 36);
    border: 2px solid rgb(36, 36, 36);
    border-radius: 2px;
    right: 140px;
    padding: 3px;
    width: 100px;
    font-size: 22px;
    transition: 0.5s ease;
}

.submitbtn:hover {
    box-shadow: inset 200px 0 rgb(40, 140, 200);
    border: 2px solid rgb(40, 140, 200);
    color: rgb(240, 240, 240);
    cursor: pointer;
}

/* Lower Description */
.low-desc {
    position: absolute;
    background-color: rgba(40, 140, 200, 0.8);
    box-shadow: 2px 0px 4px rgba(36, 36, 36, 0.3);
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    padding: 10px;
    width: 100%;
    height: 40px;
}

/* SCRIPT REVEAL */
.reveal {
    opacity: 0; /* Initially hide the element */
    transform: translateY(20px); /* Move the element down slightly */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
  }

.reveal.revealed {
    opacity: 1; /* Make the element visible */
    transform: translateY(0); /* Move the element back to its original position */
  }

/* SMALL SCREENS */
@media (max-width: 992px) {

    /* NAVBAR */
    .header {
        padding: 2vh;
    }

    .name {
        color: rgb(40, 140, 200);
        user-select: none;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 35px;
    }    

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        box-shadow: 0 2px 4px rgba(36, 36, 36, 0.3);
        padding-right: 10px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: white;
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 15rem;
    }

    .navbar a {
        font-size: 30px;
        display: block;
        text-align: center;
        margin: 1.3rem;
        transform: translateY(-300px);
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(0.20s * var(--i));
    }

    /* FONT TEXTS */

    /* .img {
        border: 2px solid black;
        border-radius: 300px;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);;
        width: 20rem;
        margin-bottom: 10px;
    } */

    .intro h1 {
        font-size: 40px;
        margin-top: 20px;
    }

    .introdesc {
        font-size: 25px;
        width: auto;
        margin: auto;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    /* MY WORKS */
    .container {
        padding: auto;
    }

    .cards
    {
        flex-direction: column;
    }

    .cardtitle {
        font-size: 70px;
    }

    section .cards .text-cards {
        background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
        color: white;
        margin: 10px;
        padding: 10px;
        width: 300px;
        justify-content: center;
        align-self: center;
        border-radius: 20px;
    }

}

@media (max-width: 480px) {

    /* NAVBAR */
    .header {
        padding: 2vh;
    }

    .name {
        color: rgb(40, 140, 200);
        user-select: none;
        font-size: 35px;
    }    

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        box-shadow: 0 2px 4px rgba(36, 36, 36, 0.3);
        padding-right: 10px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: white;
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 15rem;
    }

    .navbar a {
        font-size: 30px;
        display: block;
        text-align: center;
        margin: 1.3rem;
        transform: translateY(-300px);
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(0.20s * var(--i));
    }

    .navbar a::after {
        content: "";
        position: absolute;
        background-color: rgb(40, 140, 200);
        height: 3px;
        width: 0%;
        left: 0;
        bottom: -5px;
        transition: 0.3s;
    }
    
    .navbar a:hover::after {
        width: 100%;
    }

    /* FRONT TEXTS */

    .intro {
        position: relative;
        margin-top: 10px;
    }

    .intro h1 {
        font-size: 25px;
    }

    .introdesc {
        font-size: 20px;
        width: 350px;
        margin-bottom: 10px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .introbtn {
        border: 2px solid rgb(36, 36, 36);
        color: rgb(36, 36, 36);
        border-radius: 5px;
        padding: 3px;
        width: 150px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .iconlinks {
        font-size: 40px;
    }

    .btnlinks {
        margin-left: 20px;
    }

    .btnlinks a {
        margin-top: 10px;
    }

    /* MY WORKS */
    .container {
        padding: auto;
    }

    .cards
    {
        flex-direction: column;
    }

    .cardtitle {
        font-size: 35px;
    }

    section .cards .text-cards {
        background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
        color: white;
        margin: 10px;
        padding: 10px;
        width: 300px;
        justify-content: center;
        align-self: center;
        border-radius: 20px;
    }

    /* CONTACT */
    .contact {
        margin: auto;
    }

    .cont-container {
        margin: 300px;
    }

    .input{
        font-family: 'Times New Roman', Times, serif;
        width: 280px;
        height: 50px;
        border: 2px solid rgb(40, 140, 200);
        border-radius: 5px;
        padding: 10px;
        font-size: 15px;
    }

    .cont-desc h1{
        font-size: 35px;
    }

    .comment {
        width: 300px;
    }

    .row-up {
        margin-bottom: 20px;
    }

    .submitbtn {
        position: absolute;
        margin: 10px;
        right: 90px;
        padding: 5px;
        width: 100px;
        font-size: 18px;
    }
}